 h1{
 color:green;
 }
img{
   WIDTH:200px;
   HEIGHT:200px;
}
   .div{
 padding:10;
 width:250px;
 height:100px;
 }
 
 
    .div2{
 padding:10;
 width:250px;
 height:300px;
 border-bottom:1px solid black;
 border-top:1px solid black;
 border-left:1px solid black;
 border-right:1px solid black;
 position:absolute; 
 left:50%; 
 top:10%
 }