 body{
 background :url('lemon-tile.jpg');
 background:rgba(170,240,0);
opacity:0.5;
}

.div1{
background-color:orange;
height:125px;
width:800px;
border-top-right-radius:100px 100px;
}

.div2{
background-color:blue;
height:125px;
width:800px;
box-shadow: 15px 15px 10px  black; 
text-shadow: black 10px 10px 7px
}