 body{
 background:#d9fcff;
 margin:0px auto;
 }
 
 .div1{
 background :url('gradient-gora.png');
 width:100%;
 height:250px;

 }
 
 .div2{
 background :url('gradient-dol.png');
 width:100%;
 height:250px;

 }
 
 .div_text{
 padding-left:30px;
 padding-right:30px;
 width:780px;
 font-family:georgia;
 line-height:300%;
 text-align:justify;
 letter-spacing:0.2 px;
 background :url('tlo-srodek.png') repeat-y;
 }
 
 