 body{
background-color: #364572;
margin-left:200px;
margin-right:200px;
margin-top:10px;
margin-bottom:100px;
margin: 0 auto;
padding: 0;
}

.txt1{
color:#FFFFFF;
font-family:arial;
text-align:justify;
}

.txt2{
color:#FFFFFF;
font-family:arial;
}

a:hover{
border-bottom:2px solid #00ff00;
}

a:link{
color:#FFFFFF
}
a:visited{
color:#FFFFFF
}


//364572