body{
background :url('tlo2.png');
width:1024px;
margin: 0 auto;
padding: 0;

}

header{
background :url('logo.jpg');
background-repeat: no-repeat;
background-color: #000000;
height: 120px;
width: 1024px;
}


.sv-container{
background-color: #ffffff;
}